<!doctype html>
<html>
	<body>

		<center>
		<header> <h1> Home </h1> </header>
		<header> <h1> Pavan Kumar Harikrishnan </h1> </header>
		<header> <h1> 1001641830 </h1> </header>
		<br> <br>
		<img src="static/pavan.jpg" height="252" width="242">
		<h1> This Webpage consist of Classes records</h1>
		<br>

		<h2><a href = "/enternew">Upload File</a></h2> <br>
		<h2><a href = "/newrec"> Show the data records </a></h2>
		<h2><a href = "newrec1"> with net constraint </a></h2>
		<h2><a href = "">Instructor </a></h2>
	
		
		
        </center>
	</body>
</html>
